{{- $home := promptBool "Is this a home machine (y/n)" -}}
{{- $work_email := promptString "Work email" -}}

{{- $git_email := "gwjo@users.noreply.github.com" -}}
{{- if not $home -}}
{{-   $git_email = $work_email -}}
{{- end -}}


[data]
    is.home = {{ $home }}
    is.work = {{ not $home }}
    git.email = "{{ $git_email }}"
    work.email = "{{ $work_email }}"

