tap "homebrew/bundle"
tap "homebrew/core"
{{ if eq .chezmoi.os "darwin" -}}
# MacOS Only
tap "homebrew/aliases"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "martido/graph"
{{- end }}

brew "curl"
brew "fasd"
brew "git"
brew "tmux"

{{ if eq .chezmoi.os "darwin" -}}
# MacOS Only
brew "autoconf"
brew "bash"
brew "bash-completion@2"
brew "bison"
brew "libffi"
brew "ocaml"
brew "clang-format"
brew "cmake"
brew "duck"
brew "mpfr"
brew "gcc"
brew "webp"
brew "gdb"
brew "git-flow-avh"
brew "graphviz"
brew "harfbuzz"
brew "gst-plugins-base"
brew "python@2"
brew "gst-python"
brew "htop"
brew "hub"
brew "libdvdcss"
brew "llvm"
brew "openssl@1.1"
brew "p7zip"
brew "pandoc"
brew "pyenv-virtualenv"
brew "pyenv-virtualenvwrapper"
brew "sphinx-doc"
brew "starship"
brew "telnet"
brew "thefuck"
brew "the_silver_searcher"
brew "tree"
brew "unrar"
brew "vim"
brew "watchman"
brew "wget"
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
# All casks are MacOS only
cask "adobe-reader"
cask "atom"
cask "balenaetcher"
cask "basictex"
cask "cyberduck"
cask "docker"
cask "font-fira-code"
cask "google-drive"
cask "handbrake"
cask "keka"
cask "sonos"
cask "tex-live-utility"
cask "xquartz"
{{- end }}
