# Aliases
# vim: se ft=sh:

alias ls='ls -F'
alias l='ls -l'
alias la='ls -a'
alias ll='ls -al'

# Stop wireshark filling /tmp
alias wireshark='wireshark -a filesize:102400'


{{ if eq .chezmoi.os "darwin" }}

alias pdit='ssh pdit -t /home/gwowen/.linuxbrew/bin/tmux attach'

{{ end }}

