tap "homebrew/bundle"
tap "homebrew/core"
tap "knqyf263/pet"
{{ if eq .chezmoi.os "darwin" -}}
tap "homebrew/aliases"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "martido/graph"
tap "osx-cross/arm"
tap "osx-cross/avr"
{{- end }}
brew "bat"
brew "curl"
brew "chezmoi"
brew "fasd"
brew "fd"
brew "fzf"
brew "git"
brew "glib"
brew "gnupg"
brew "jq"
brew "moreutils"
brew "pyenv"
brew "python"
brew "python@3.8"
brew "ripgrep"
brew "shellcheck"
brew "shfmt"
brew "starship"
brew "tlda"
brew "tree"
brew "tmux"
brew "vim"
brew "yq"
brew "knqyf263/pet/pet"
{{ if eq .chezmoi.os "darwin" -}}
brew "ansifilter"
brew "autoconf"
brew "avrdude"
brew "bash"
brew "bash-completion@2"
brew "bootloadhid"
brew "clang-format"
brew "coreutils"
brew "corkscrew"
brew "dfu-programmer"
brew "dfu-util"
brew "duck"
brew "gd"
brew "graphviz"
brew "harfbuzz"
brew "htop"
brew "hub"
brew "icu4c"
brew "isl"
brew "lastpass-cli"
brew "libdvdcss"
brew "libksba"
brew "mpfr"
brew "netpbm"
brew "nmap"
brew "openssl@1.1"
brew "osx-cross/arm/arm-gcc-bin@8", link: true
brew "osx-cross/avr/avr-gcc@8", link: true
brew "p7zip"
brew "pandoc"
brew "pyenv-virtualenv"
brew "pyenv-virtualenvwrapper"
brew "task"
brew "tasksh"
brew "telnet"
brew "thefuck"
brew "unbound", restart_service: true
brew "unrar"
brew "utf8proc"
brew "watchman"
brew "wget"
brew "webp"
{{- end }}
{{ if eq .chezmoi.os "darwin" -}}
cask "adobe-reader"
cask "atom"
cask "balenaetcher"
cask "basictex"
cask "cyberduck"
cask "darktable"
cask "digikam"
cask "discord"
cask "docker"
cask "font-fira-code"
cask "google-drive"
cask "handbrake"
cask "hugin"
cask "keka"
cask "qlcolorcode"
cask "qlimagesize"
cask "qlmarkdown"
cask "qlstephen"
cask "qlvideo"
cask "qmk-toolbox"
cask "quicklook-json"
cask "quicklookase"
cask "rawtherapee"
cask "sonos"
cask "suspicious-package"
cask "tex-live-utility"
cask "xquartz"
{{- end }}
