# vim: ft=bash sw=2 ts=2 sts=2

# path manipulation

_prependPath() {
  local path=$1
  local paths=${!1}
  local toadd=$2

  # check path exists
  [[ ! -d $toadd ]] && return 0

  case ":$paths:" in
    *:"$toadd":*)
      ;;
    *)
      export $path="$toadd${paths:+:$paths}"
      ;;
  esac
}

_appendPath() {
  local path=$1
  local paths=${!1}
  local toadd=$2

  # check path exists
  [[ ! -d $toadd ]] && return 0

  case ":$paths:" in
    *:"$toadd":*)
      ;;
    *)
      export $path="${paths:+$paths:}$toadd"
      ;;
  esac
}

## Brew Settings
## {{- if eq .chezmoi.os "darwin" }}
_prependPath PATH "/usr/local/sbin"     # brew sbin (not present by defualt)
## {{- else if eq .chezmoi.os "linux" }}
if [[ -d $HOMEBREW_PREFIX ]] ; then
  _prependPath PATH "${HOMEBREW_PREFIX}/bin"
  _prependPath PATH "${HOMEBREW_PREFIX}/sbin"
  _prependPath MANPATH "${HOMEBREW_PREFIX}/man"
  _prependPath INFOPATH "${HOMEBREW_PREFIX}/info"
fi
## {{- end }}

## User path
## {{- if eq .chezmoi.os "linux" }}
_prependPath PATH "/snap/bin"
## {{- end }}
_prependPath PATH "$HOME/.cargo/bin"
_prependPath PATH "$HOME/.local/bin"
_prependPath PATH "$HOME/bin"


# Get rid of the temporary functions
unset -f _prependPath
unset -f _appendPath

