# Aliases
# vim: se ft=sh:

alias ls='ls -F'
alias l='ls -l'
alias la='ls -a'
alias ll='ls -al'

# Stop wireshark filling /tmp
alias wireshark='wireshark -a filesize:102400'


#{{ if eq .chezmoi.os "darwin" }}

alias pdit='ssh pdit -t /home/gwowen/.linuxbrew/bin/tmux attach'

#{{ end }}

alias resizemonitor='xrandr --output DP-1 --scale 0.7x0.7 --fb 4608x1512 --output DP-2 --pos 2688x432'

