# Aliases
# vim: se ft=bash:


# Stop wireshark filling /tmp
alias wireshark='wireshark -a filesize:102400'

if command -v exa &>/dev/null ; then
  # use exa if installed
  alias ls='exa --classify --group-directories-first'
  alias la='exa --classify --group-directories-first --all'
  alias l='EXA_GRID_ROWS=5 exa --classify --group-directories-first --long --git --grid'
  alias ll='EXA_GRID_ROWS=5 exa --classify --group-directories-first --all --long --git --grid'
  alias lls='EXA_GRID_ROWS=5 exa --classify --group-directories-first --all --long --grid --sort=size'
  alias llt='EXA_GRID_ROWS=5 exa --classify --group-directories-first --all --long --grid --sort=modified'
else
  if \ls --color=auto &>/dev/null ; then
    # Colorful LS
    alias ls='ls --color=auto -Fh'
    eval $(dircolors -b "$HOME/.local/share/LS_COLORS")
  elif ls -G l &>/dev/null ; then
    # BSD ls
    alias ls='ls -GFh'
  else
    # Hmm... no color
    alias ls='ls -Fh'
  fi
  # These use "ls" alias above
  alias l='ls -l'
  alias la='ls -a'
  alias ll='ls -al'
  alias lls='ls -alrS'
  alias llt='ls -alrt'
fi

alias resizemonitor='xrandr --output DP-1 --scale 0.7x0.7 --fb 4608x1512 --output DP-2 --pos 2688x432'

alias 'zoom-camera'='v4l2-ctl -d /dev/video4 -c zoom_absolute=200'

##
## Docker
##

# Remove exited containers
alias drmx='docker rm -v $(docker ps -a -q -f status=exited)'

# Remove dangling images
alias drmd='docker rmi $(docker images -f "dangling=true" -q)'


##
## Linux
##

## {{- if eq .chezmoi.os "linux" }}

alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

## {{- end }}

