# .bash_profile
# vim: se ft=sh:

if [ -f ~/.bashrc ]; then . ~/.bashrc; fi

# User specific environment and startup programs
PATH=$PATH:$HOME/.local/bin:$HOME/bin
export PATH

# Vim is the editor of choice
export VISUAL=vim
export EDITOR=${VISUAL}


{{ if eq .chezmoi.os "darwin" -}}
##
## MacOS settings
##

  # iterm2 integration
  test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
##
## Linux Brew
##
if [[ -d ~/.linuxbrew ]] ; then
  # Linux Brew settings
  export HOMEBREW_PREFIX="~/.linuxbrew";
  export HOMEBREW_CELLAR="~/.linuxbrew/Cellar";
  export HOMEBREW_REPOSITORY="~/.linuxbrew/Homebrew";
  export PATH="~/.linuxbrew/bin:~/.linuxbrew/sbin${PATH+:$PATH}";
  export MANPATH="~/.linuxbrew/share/man${MANPATH+:$MANPATH}:";
  export INFOPATH="~/.linuxbrew/share/info${INFOPATH+:$INFOPATH}";
elif [[ -d /home/linuxbrew/.linuxbrew ]] ; then
  export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew";
  export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar";
  export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew";
  export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin${PATH+:$PATH}";
  export MANPATH="/home/linuxbrew/.linuxbrew/share/man${MANPATH+:$MANPATH}:";
  export INFOPATH="/home/linuxbrew/.linuxbrew/share/info${INFOPATH+:$INFOPATH}";
fi
{{ end -}}

{{ if eq .chezmoi.hostname "den00oix" -}}
##
## Work PDIT settings
##

  # Proxy Setup
  export http_proxy="http://www-proxy-hqdc.us.oracle.com:80"
  export https_proxy="http://www-proxy-hqdc.us.oracle.com:80"
  export no_proxy=localhost,127.0.0.1,us.oracle.com,oraclecorp.com

  # Stop annoying error caused by brew's pkgconfig
  export PKG_CONFIG_PATH=/usr/share/pkgconfig:$PKG_CONFIG_PATH

{{ end -}}

##
## Brew specifics
##
if type brew &>/dev/null; then

  # completions
  HOMEBREW_PREFIX="$(brew --prefix)"
  if [[ -r "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh" ]]; then
    BASH_COMPLETION_COMPAT_DIR="${HOMEBREW_PREFIX}/etc/bash_completion.d/"
    source "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"
  else
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*; do
      [[ -r "$COMPLETION" ]] && source "$COMPLETION"
    done
  fi

  # command-not-found
  if brew command command-not-found-init > /dev/null 2>&1; then 
    eval "$(brew command-not-found-init)"; 
  fi
fi

##
## fzf settings
##
# Use fd (https://github.com/sharkdp/fd) instead of the default find
# command for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type d --hidden --follow --exclude ".git" . "$1"
}

# usage: _fzf_setup_completion path|dir|var|alias|host COMMANDS...
_fzf_setup_completion path ag git
_fzf_setup_completion dir tree

# Local settings (not pushed to git)
[ -f .bash_profile.local ] && source .bash_profile.local

