IgnoreUnknown RSAAuthentication

Host github.com gist.github.com *.githubusercontent.com
    AddKeysToAgent yes
{{- if stat (joinPath .chezmoi.homedir ".ssh/id_rsa.github") }}
    IdentityFile ~/.ssh/id_rsa.github
{{- else }}
    IdentityFile ~/.ssh/id_ed25519.github
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    ProxyCommand $HOME/.ssh/ssh-proxy -w 2 %h %p
{{- end }}
    ServerAliveInterval 60

{{ if .is.home }}
Host *.gwjo.dev
    User gowen
    IdentityFile ~/.ssh/id_ed25519.homelab
{{- end }}

{{ if .is.work }}
Host bitbucket.ci.motional.com
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa.bitbucket
{{ end }}

